page-first {
  
    #star{
      color: black;
      background-color: olivedrab;
      height: 30px !important;
      width: 50px !important;
      
    }

    #lot{
        background-color: olivedrab;
        margin:0%;
        margin-top:0%;
    }

    
    #stars{
        background-color: rgb(56,56,56);
        //background-color: olivedrab;
        color: white;
        height: 40px !important;
        width: 70px !important;
        
    }

    #starss{
        color: black;
        background-color: olivedrab;
        height: 50px !important;
        width: 50px !important;
        
    }
    p {
        font-size: 60px;
    }

    ion-icon {
        
    color: olivedrab;
    float:left;
    
    }
    ion-searchbar{
        background-color: olivedrab;
    }

    ion-content{
        background-color: olivedrab;
    }
    h1{
        font-size:35px;
    }

 
  

   
}
